body
{
	background-image: url(https://images.unsplash.com/photo-1497900304864-273dfb3aae33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=788&q=80);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
}


.card
{
	border: none;
}

.delete-form
{
	display: inline;
}